<%= simple_form_for @job do |f| %>
  <div class="form-job">
    <%= f.input :title, :label => "职位", input_html: { class: "form-control"} %>
    <%= f.input :description, :label => "描述",input_html: { class: "form-control"} %>
    <%= f.input :max, :label => "薪资上限", input_html: { class: "form-control"} %>
    <%= f.input :min, :label => "薪资下限", input_html: { class: "form-control"} %>
    <%= f.input :email, :label => "联系方式", input_html: { class: "form-control"} %>
    <%= f.input :is_hidden %>

  </div>
  <%= f.submit "提交", class: "btn btn-primary", data: { disable_with: "提交中..." } %>
<% end %>
